<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/contacts.min.css">
</head>
<body>

 {% include 'app/module/_header/_header.html' %}

<main class="main">

{% include 'app/module/_top/_top-contacts.html' %}

<section class="map">
    <div class="container">
        <iframe id="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387194.0622464979!2d-74.30932615182785!3d40.697019290764416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sru!4v1708534626662!5m2!1sru!2sru"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">

        </iframe>
        <!--<div id="map"></div>-->
    </div>
</section>


{% include 'app/module/_contact/_contact.html' %}

</main>

  {% include 'app/module/_footer/_footer.html' %}


<!--<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})-->
<!--({key: "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg", v: "weekly"});-->
<!--</script>-->

<!--<script>-->
<!--    let map;-->

<!--    async function initMap() {-->
<!--        const { Map } = await google.maps.importLibrary("maps");-->

<!--        map = new Map(document.getElementById("map"), {-->
<!--            center: { lat: -34.397, lng: 150.644 },-->
<!--            zoom: 8,-->
<!--        });-->
<!--    }-->

<!--    initMap();-->
<!--</script>-->

<script src="js/main.min.js"></script>

</body>
</html>