.product-page {
  padding: 120px 0 0;
}

.product-one {
  &__inner {
    display: flex;
  }

  &__slide {
    width: 730px;
    margin-right: 70px;
  }

  &__content {
    width: 370px;
  }

  &__title {
    margin-bottom: 20px;
    color: $title;
    font-size: 20px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__price {
    display: flex;
    font-size: 18px;
  }

  &__price-new {
    color: $title;
  }

  &__price-old {
    padding-left: 15px;
    text-decoration: line-through;
  }

  &__item-star {
    display: flex;
    align-items: center;

    span {
      padding-left: 8px;
      color: $title;
      font-size: 22px;
      @extend %roboto-400;
    }
  }

  &__item-text {
    margin-bottom: 30px;

    span {
      font-size: 18px;
      display: block;
      color: $title;
    }
  }

  &__item-btn {
    @extend %btn;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 26px;
    @extend %roboto-400;
    margin-left: 15px;
  }
}

.jq-number__field {
  width: 114px;
  border: 1px solid #f0f0f0;
  transform: translateY(1px);
}

.jq-number__field input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  @extend %quicksand-500;
  text-align: center;
  color: $title;
}

.jq-number {
  padding: 0;
  position: relative;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.jq-number__spin.minus {
  left: 15px;
}

.jq-number__spin.plus {
  right: 15px;
}

.jq-number__spin::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  background-color: $title;
  width: 12px;
  height: 1px;
}

.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  background-color: $title;
  width: 1px;
  height: 12px;
}